JavWsClient/src/main/java/userpackage/my-service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.example/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.example/" name="MyServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.example/" schemaLocation="http://localhost:9000/my-service?xsd=1"/>
</xsd:schema>
</types>
<message name="getUserByName">
<part name="parameters" element="tns:getUserByName"/>
</message>
<message name="getUserByNameResponse">
<part name="parameters" element="tns:getUserByNameResponse"/>
</message>
<message name="getAllPlace">
<part name="parameters" element="tns:getAllPlace"/>
</message>
<message name="getAllPlaceResponse">
<part name="parameters" element="tns:getAllPlaceResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="createComment">
<part name="parameters" element="tns:createComment"/>
</message>
<message name="createCommentResponse">
<part name="parameters" element="tns:createCommentResponse"/>
</message>
<portType name="MyService">
<operation name="getUserByName">
<input wsam:Action="http://service.example/MyService/getUserByNameRequest" message="tns:getUserByName"/>
<output wsam:Action="http://service.example/MyService/getUserByNameResponse" message="tns:getUserByNameResponse"/>
</operation>
<operation name="getAllPlace">
<input wsam:Action="http://service.example/MyService/getAllPlaceRequest" message="tns:getAllPlace"/>
<output wsam:Action="http://service.example/MyService/getAllPlaceResponse" message="tns:getAllPlaceResponse"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://service.example/MyService/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://service.example/MyService/createUserResponse" message="tns:createUserResponse"/>
</operation>
<operation name="createComment">
<input wsam:Action="http://service.example/MyService/createCommentRequest" message="tns:createComment"/>
<output wsam:Action="http://service.example/MyService/createCommentResponse" message="tns:createCommentResponse"/>
</operation>
</portType>
<binding name="MyServicePortBinding" type="tns:MyService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUserByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyServiceService">
<port name="MyServicePort" binding="tns:MyServicePortBinding">
<soap:address location="http://localhost:9000/my-service"/>
</port>
</service>
</definitions>